.Body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.card{
    padding: 30px;
    width: 35%; 
    background-color: #8758FF;
    border-radius: 10px;
}
Button{
    width: 100%;
}
h1{
    color: white;
}


